.listBody{
    padding-top: 25px;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(to right top, #ff0000, #ff0000, #ff0000, #ff0000, #ff0000, #ff2c00, #ff4000, #ff5000, #ff6d00, #ff8500, #ff9c00, #ffb100);
}